@reference "../../globals.css";

.header {
  gap: 3rem;
  font-size: 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.header > h1 {
  font-size: 3rem;
  font-weight: 600;
}

.highlight {
  color: #3b82f6;
}

.main {
  margin: 3rem 0;
}

.form {
  max-width: 75rem;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  @apply text-sm text-gray-500;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #454952;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-bottom: 1rem;
}

.form input:focus,
.form textarea:focus {
  outline-color: #3b82f6;
}

.row {
  display: flex;
  gap: 1rem;
}

.row p {
  width: 100%;
}

.actions {
  text-align: right;
}

.actions button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
}

.actions button:disabled,
.actions button:hover:disabled,
.actions button:focus:disabled {
  background: #ccc;
  @apply text-sm text-gray-500;
  cursor: not-allowed;
}
